*{
    margin: 0;
    padding: 0;
}
:root{

}
.cabecalho{
    background-color: rgb(54, 150, 150);
    padding: 50px;
}
.corpo{
    background-color: aliceblue;
}
.footer{
    background-color: rgb(80, 119, 106);
}
.boton{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: blanchedalmond;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}
.boton:hover{
    background-color: rgb(56, 119, 214);
}
.boton:active{
    font-size: 20px;
}
.video-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.video-item {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(rgba(255, 0, 0, 0), rgba(0, 128, 0, 0), rgba(0, 0, 255, 0), alpha);
    height: 200px;
}