*{
    margin: 0;
    padding: 0;
}
:root{

}
.cabecalho{
    background-color: rgb(54, 150, 150);
    padding: 50px;
}
.corpo{
    background-color: aliceblue;
}
.footer{
    background-color: rgb(80, 119, 106);
}